.idea/
FoodOrderingApp-api/target/
FoodOrderingApp-db/target/
FoodOrderingApp-service/target/
FoodOrderingApp-db/FoodOrderingApp-db.iml
FoodOrderingApp-api/FoodOrderingApp-api.iml
FoodOrderingApp-service/FoodOrderingApp-service.iml
FoodOrderingApp-db/src/main/resources/config/localhost.properties
FoodOrderingApp-api/src/main/resources/application.yaml